
* {
    background-color: grey;
}

.container {
    height: 200px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.header-container, .desc-container {
    display: flex;
    justify-content: center;
}

.header, .desc {
    color: black;
    font-weight: bold;
}

.desc {
    font-size: 18px;
}

.button-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-button {
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 10px;
    margin-top: 20px;
}